.photo-grid {
  margin: 0 0 92px;
  max-width: calc(100% + 100px*2);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(213px, 1fr));
  grid-gap: 16px;
}
