.place__url-link {
  margin: 0 0 48px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  transition: .2s;
}

.place__url-link:hover {
  transition: .2s;
  opacity: .8;
}

@media screen and (max-width: 632px) {

  .place__url-link {
    margin: 0 0 32px;
  }

}
