.cover__subtitle {
  text-align: center;
  width: 360px;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  z-index: 1;
}

@media screen and (max-width: 767px) {

  .cover__subtitle {
    width: 256px;
    font-size: 14px;
    line-height: 16px;
  }
}
