.container {
  margin: 0 auto;
  max-width: calc(100% - 48px*2);
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 1279px) {

  .container {
    max-width: 100%;
  }
}
