.place {
  margin: 0 0 80px;
  display: grid;
  grid-template-columns: .95fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-column-gap: 40px;
  grid-template-areas:
    "place__title place__website"
    "place__image place__paragraph";
}

.place:last-child {
  margin: 0 0 92px;
}

@media screen and (max-width: 1279px) {

  .place {
    grid-column-gap: 32px;
  }

  .place:last-child {
    margin: 0 0 99px;
  }

}

@media screen and (max-width: 1023px) {

  .place {
    grid-column-gap: 28px;
  }

}

@media screen and (max-width: 632px) {

  .place {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 50px;
  }

  .place:last-child {
    margin: 0 0 66px;
  }

}
